@import "@/node_modules/modern-normalize/modern-normalize.css";

body,
html {
  height: 100%;
}

body {
  font-family: $font-primary;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  @include media(">=l") {
    font-size: 110%;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  * {
    box-sizing: border-box;
  }

  b,
  strong {
    font-weight: 600;
  }

  &.locked {
    .header {
      display: none;
    }
  }

  @include media("<=m") {
    font-size: 90%;
  }
}

:root {
  --scroll: -100%;
  --theme: dark;
  container: root;
}

@container root style(--theme: lite) {
  body {
    --color-primary: #{$color-red};
    --color-secondary: #{$color-white};
    --color-ternary: #{$color-silver-lite};
    --color-quaternary: #{$color-satan};
    --color-quinary: #{$color-black};
  }
}

@container root style(--theme: dark) {
  body {
    --color-primary: #{$color-green};
    --color-secondary: #{$color-black};
    --color-ternary: #{$color-blackish};
    --color-quaternary: #{$color-silver};
    --color-quinary: #{$color-white};
  }
}
