@import "@/node_modules/include-media/dist/_include-media.scss";
@import "@/assets/scss/_variables.scss";
@import "@/assets/scss/_mixins.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_grid.scss";
@import "@/assets/scss/_animations.scss";

body,
html {
  height: 100%;
}

body {
  font-family: $font-stack;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  * {
    box-sizing: border-box;
  }
}

:root {
  --scroll: -100%;
}
