@import '@/node_modules/modern-normalize/modern-normalize.css';

body,
html {
  height: 100%;
}

body {
  font-family: $font-stack;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  * {
    box-sizing: border-box;
  }

  &.locked {
    .header {
      display: none;
    }
  }

  @include media('<=m') {
    font-size: 90%;
  }
}

:root {
  --scroll: -100%;
}
