/* layout */
@mixin mk-container() {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 970px;
  @include media("<=m") {
    max-width: 768px;
  }
}
/* elements */
@mixin img {
  width: 100%;
  height: auto;
}
@mixin btn {
  cursor: pointer;
  border: 0;
}
/* effects */
@mixin trans($time, $prop:"") {
  @if $prop != "" {
    transition: $prop #{$time}s;
  } @else {
    transition: all #{$time}s;
  }
}
@mixin shadow() {
  box-shadow: 0 5px 5px -5px transparentize($color-black, 0.75);
}
