/* layout */
@mixin mk-container() {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 870px;
  @include media("<=m") {
    max-width: 768px;
  }
  @include media(">=l") {
    max-width: 1080px;
  }
}
@mixin text {
  font-size: 1em;
  font-weight: lighter;
  font-family: $font-secondary;
  line-height: 1.5;
  margin: 15px 0;

  p {
    margin: 15px 0;
  }
}
@mixin title {
  color: var(--color-primary);
  font-family: $font-primary;
  font-weight: bold;
}

/* elements */
@mixin img {
  width: 100%;
  height: auto;
}
@mixin button-text {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1;
}

@mixin button-base {
  width: fit-content;
  border: 0;
  padding: 12.5px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;

  &:first-letter {
    text-transform: uppercase;
  }

  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;

    &:active,
    &:focus,
    &:hover {
      outline: 0;
    }
  }
}

@mixin button-face($type: "") {
  border: 2px solid;
  border-color: var(--color-primary);
  background: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: none;
  user-select: none;

  @if $type == "danger" {
    border-color: var(--color-danger);
    color: var(--color-danger);
  }

  @if $type == "primary" {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-secondary);
  }

  @if $type == "secondary" {
    background: transparent;
    border-color: transparent;
    color: var(--color-primary);
  }

  @if $type == "ternary" {
    background: transparent;
    border-color: transparent;
    color: var(--color-senary);
  }
}

@mixin button-actions($type: "") {
  @include trans(0.33);

  @if $type != "label" {
    &.active,
    &:active {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
      color: var(--color-secondary);
    }
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 10px var(--color-primary);
    border-color: var(--color-primary);
  }

  @if $type == "label" {
    &:hover,
    &:focus {
      color: var(--color-primary);
    }
  }

  @if $type == "danger" {
    &.active,
    &:active {
      background-color: var(--color-danger);
      border-color: var(--color-danger);
    }

    &:hover,
    &:focus {
      box-shadow: inset 0 0 10px var(--color-danger);
    }
  }

  @if $type == "primary" {
    &.active,
    &:active {
      box-shadow: none !important;
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }

    &:hover,
    &:focus {
      // border-color: var(--color-secondary);
      box-shadow: inset 0 0 10px var(--color-secondary);
    }
  }

  @if $type == "secondary" {
    &.active,
    &:active {
      border-color: var(--color-primary);
      box-shadow: none;
      color: var(--color-secondary) !important;
      background-color: var(--color-primary);
    }

    &:hover,
    &:focus {
      border-color: var(--color-primary);
      color: var(--color-primary);
      box-shadow: inset 0 0 10px var(--color-primary);
    }
  }

  @if $type == "ternary" {
    &.active,
    &:active {
      border-color: var(--color-primary);
      box-shadow: none;
      color: var(--color-octonary) !important;
      background-color: var(--color-senary);
    }

    &:hover,
    &:focus {
      border-color: var(--color-senary);
      color: var(--color-senary);
      box-shadow: inset 0 0 10px var(--color-senary);
    }
  }
}

@mixin button($type: "") {
  @include button-text;
  @include button-base;
  @include button-face($type);
  @include button-actions($type);
}

@mixin label-base {
  display: inline-block;
  padding: 7.5px 10px;
  border-radius: 3px;
  margin: 0.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0;
  font-size: 0.85em;
  // font-weight: bold;
  white-space: nowrap;
}
@mixin label-face {
  border: 2px solid;
  border-color: var(--color-quaternary);
  background-color: var(--color-secondary);
  // box-shadow: inset 0 0 10px var(--color-quaternary);
  color: var(--color-quaternary);
}
@mixin label {
  @include label-base;
  @include label-face;
}

/* effects */
@mixin trans($time, $prop: "") {
  @if $prop != "" {
    transition: $prop #{$time}s;
  } @else {
    transition: all #{$time}s;
  }
}
@mixin shadow() {
  box-shadow: 0 5px 5px -5px transparentize($color-black, 0.75);
}
