@import '../../node_modules/modern-normalize/modern-normalize.css';

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1365px;
$desktop-min: 1366px;
$desktop-lg-min: 1600px;

$color-black: #000;
$color-white: #fff;
$color-green-vue: #42b983;
$color-gray-vue: #2c3e50;
$color-silver: #ccc;
$color-silver-lite: #eee;
$color-red: #c10000;

$color-satan: #666;
$color-gray: #999;
