@import "@/node_modules/include-media/dist/_include-media.scss";
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_mixins.scss";

// primary
$color-red: #c10000;
$color-green: #00ff00;

// secondary
$color-white: #fff;
$color-black: #000;

// ternary
$color-silver-lite: #eee;
$color-blackish: #222;

// quaternary
$color-satan: #666;
$color-silver: #ccc;

$breakpoint_laptop_large: 1600px;
$breakpoint_laptop_medium: 1440px;
$breakpoint_laptop_small: 1366px;
$breakpoint_tablet: 1200px;
$breakpoint_tablet_middle: 1080px;
$breakpoint_tablet_small: 992px;
$breakpoint_mobile: 768px;
$breakpoint_mobile-middle: 670px;
$breakpoint_mobile_small: 480px;

$breakpoints: (
  l: $breakpoint_laptop_large,
  l-m: $breakpoint_laptop_medium,
  l-s: $breakpoint_laptop_small,
  t: $breakpoint_tablet,
  t-m: $breakpoint_tablet_middle,
  t-s: $breakpoint_tablet_small,
  m: $breakpoint_mobile,
  m-m: $breakpoint_mobile-middle,
  m-s: $breakpoint_mobile_small,
);
