.cat {
  cursor: pointer;

  &__wrapper {
    position: absolute;
    bottom: -7.5px;
    left: 4vw;
    width: 90px;
    height: 90px;
    z-index: 10;

    @include media(">m", "<l-s") {
      bottom: 0;
      left: auto;
      right: 1vw;
      width: 90px;
      height: 90px;
      transform: scaleX(-1);
      overflow: hidden;
    }

    @include media("<=m") {
      bottom: 0;
      width: 90px;
      height: 90px;
      left: 45px;
    }

    @include media(">=l") {
      width: 120px;
      height: 120px;
    }
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include media(">m", "<l-s") {
      top: 7.5px;
    }

    @include media("<=m") {
      top: 7.5px;
    }
  }

  &--lite {
    svg {
      filter: drop-shadow(0 0 5px $color-white);

      path {
        fill: $color-black;
      }

      #tail {
        stroke: $color-black;
      }

      #nose,
      #eye-right,
      #eye-left {
        fill: $color-red;
      }
    }
  }

  &--dark {
    svg {
      filter: drop-shadow(0 0 5px $color-green);

      path {
        fill: $color-blackish;
      }

      #tail {
        stroke: $color-blackish;
      }

      #nose,
      #eye-right,
      #eye-left {
        fill: $color-green;
      }
    }
  }
}
