.counter {
  $self: &;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;

  &__value {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 0.85em;
    @include label-face;
    @include button-actions;
  }
}
