.dialog {
  $self: &;
  @include trans(0.5);
  width: fit-content;
  height: auto;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  align-items: center;

  * {
    z-index: 2;
  }

  &__text {
    p {
      @include text;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__mask {
    @include trans(0.5);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color-black, 0.5);
    display: table;
    display: block;
    backdrop-filter: blur(3px);
    overflow-y: auto;

    &--full {
      #{$self} {
        border-radius: 0;
        min-height: 100vh;
        width: 100%;
        position: relative;
        background-color: var(--color-secondary);

        &:before {
          content: "";
          position: absolute;
          background-image: url("@/assets/gfx/bg-modal-min.svg");
          background-repeat: repeat-y;
          background-size: 270px;
          background-position: left;
          width: 100%;
          height: 100%;
          z-index: 1;

          @include media("<=m") {
            background-size: 240px;
          }
        }
      }

      #{$self}__content {
        @include mk-container;
      }

      #{$self}__text {
        p {
          text-align: left;

          @include media("<=m") {
            text-align: center;
          }
        }
      }
    }

    &--image {
      #{$self} {
        background: none;
        padding: 0;
      }

      #{$self}__cell {
        padding: 15px;
      }

      #{$self}__content {
        border-radius: 5px;
        overflow: hidden;
      }

      #{$self}__container {
        padding: 0;
        max-width: none !important;
      }

      #{$self}__image {
        position: relative;
        max-width: none;
        border: 0;
        margin: 0;
      }

      #{$self}__close {
        filter: drop-shadow(0 0 1px white);
      }
    }

    &--message {
      #{$self} {
        padding: 45px 90px;
        display: inline-flex;

        &:before,
        &:after {
          content: "";
          position: absolute;
        }

        &:before {
          left: 2px;
          right: 0px;
          top: 2px;
          bottom: 2px;
          z-index: -1;
          backdrop-filter: blur(3px);
          mask-image: linear-gradient(
            135deg,
            transparent 0% 3.45%,
            $color-white 3.45% 96.55%,
            transparent 96.55% 100%
          );
        }

        &:after {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -2;
        }
      }

      #{$self}__close {
        transform: translate(15%, -20%) scale(0.75);
      }

      #{$self}__cell {
        padding: 15px;
      }

      #{$self}__title {
        font-size: 1.1em;
        margin: 0;
      }

      #{$self}__text {
        p {
          text-align: center;
        }
      }
    }
  }

  &__table {
    display: table;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
  }

  &__close {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    font-weight: bolder;
    font-size: 3em;
    cursor: pointer;
    z-index: 10;
    color: var(--color-primary);

    &:focus {
      outline: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }

  &-leave-active {
    opacity: 0;
  }

  &-enter-active {
    animation: modalMask 0.25s ease 0s;
  }

  &-enter-active &__container {
    animation: modalContainer 0.25s ease 0s;
  }

  &--lite {
    &:before {
      background-image: linear-gradient(
        135deg,
        transparent 2.45%,
        $color-white 2.45% 25%,
        transparentize($color-white, 0.25) 75% 97.45%,
        transparent 97.55% 100%
      );
    }

    &:after {
      background-image: linear-gradient(
        135deg,
        transparent 3.5%,
        $color-red 3.5% 25%,
        transparent 30%
      );
    }

    #{$self}__logo {
      box-shadow: 0 0 10px transparentize($color-black, 0.5);
    }
  }

  &--dark {
    &:before {
      filter: brightness(0.15);
      background-image: linear-gradient(
        135deg,
        transparent 2.45%,
        $color-black 2.45% 25%,
        transparentize($color-black, 0.25) 75% 97.45%,
        transparent 97.55% 100%
      );
    }

    &:after {
      background-image: linear-gradient(
        135deg,
        transparent 3.5%,
        $color-green 3.5% 25%,
        transparent 30%
      );
    }

    #{$self}__logo {
      box-shadow: 0 0 10px $color-green;
    }
  }
}
