.form {
  $self: &;
  max-width: 720px;
  width: 100%;

  &__group {
    display: flex;
    flex-flow: column-reverse;

    & + #{$self}__group {
      margin-top: 15px;
    }

    &--textarea {
      #{$self}__input {
        min-height: 120px;
      }
    }

    &--submit {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  &__input {
    border: 0;
    border-radius: 3px;
    padding: 15px;
    height: 40px;

    &:focus {
      outline: 0;
    }
  }

  &__label {
    font-size: 0.9em;
    font-weight: bold;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__alert {
    font-size: 0.8em;
  }

  &__btn {
    @include btn;
  }

  &--lite {
    #{$self}__btn {
      color: $color-white;
      background-color: $color-gray;
      box-shadow: inset 0 0 10px $color-satan;

      &:active,
      &:focus,
      &:hover {
        background-color: $color-red;
      }
    }

    #{$self}__group {
      &--error {
        #{$self}__input {
          background-color: transparentize($color-red, 0.9);
          box-shadow: inset 0 0 10px $color-red;
        }

        #{$self}__label {
          color: $color-red;
        }
      }
    }

    #{$self}__input {
      background-color: $color-silver-lite;
      box-shadow: inset 0 0 10px $color-silver;
    }

    #{$self}__alert {
      color: $color-red;
    }
  }

  &--dark {
    #{$self}__btn {
      color: $color-black;
      background-color: $color-silver-lite;
      box-shadow: inset 0 0 10px $color-black;

      &:active,
      &:focus,
      &:hover {
        background-color: $color-green;
      }
    }

    #{$self}__group {
      &--error {
        #{$self}__input {
          background-color: transparentize($color-green, 0.9);
          box-shadow: inset 0 0 10px $color-green;
        }

        #{$self}__label {
          color: $color-green;
        }
      }
    }

    #{$self}__input {
      background-color: $color-blackish;
      box-shadow: inset 0 0 10px $color-gray;
      color: $color-silver-lite;
    }

    #{$self}__alert {
      color: $color-green;
    }
  }
}
