.form {
  $self: &;
  max-width: 720px;
  width: 100%;
  margin-top: 30px;

  &__group {
    display: flex;
    flex-flow: column-reverse;

    & + #{$self}__group {
      margin-top: 15px;
    }

    &--textarea {
      #{$self}__input {
        min-height: 120px;
      }
    }

    &--submit {
      display: flex;
      align-items: center;
      margin-top: 30px !important;
      margin-bottom: 30px;
    }

    &--errors {
      text-align: center;
    }

    &--error {
      #{$self}__input {
        box-shadow: inset 0 0 10px var(--color-primary) !important;
      }

      #{$self}__label {
        color: var(--color-primary);
      }
    }
  }

  &__input {
    border: 0;
    border-radius: 3px;
    padding: 15px;
    height: 40px;

    &:focus {
      outline: 0;
    }
  }

  &__label {
    font-size: 0.9em;
    font-weight: bold;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__alert {
    font-size: 0.8em;
    color: var(--color-primary);
  }

  &--lite {
    #{$self}__input {
      background-color: transparentize($color-silver-lite, 0.25);
      box-shadow: inset 0 0 10px $color-silver;
    }

    #{$self}__group {
      &--error {
        #{$self}__input {
          background-color: transparentize($color-red, 0.9);
        }
      }
    }
  }

  &--dark {
    #{$self}__input {
      background-color: transparentize($color-blackish, 0.25);
      box-shadow: inset 0 0 10px transparentize($color-black, 0.5);
      color: $color-silver-lite;
    }

    #{$self}__group {
      &--error {
        #{$self}__input {
          background-color: transparentize($color-green, 0.9);
        }
      }
    }
  }
}
