.header {
  $self: &;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  z-index: 3;
    
  &__control {
    display: flex;
    align-items: center;
  }

  &__selector {
    height: 45px;

    @include media(">=l") {
      height: 60px;
    }

    & + & {
      margin-left: 15px;

      @include media("<=m") {
        margin-left: 7.5px;
      }
    }

    &--locale {
      margin-left: auto;
      position: relative;
      height: 33px;

      @include media("<=m") {
        height: 30px;
      }

      @include media(">=l") {
        height: 45px;
      }

      &:hover {
        #{$self}__button {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        #{$self}__button + #{$self}__options {
          display: flex;
          flex-flow: column;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-top: 0;
          opacity: 1;
        }
      }

      #{$self}__button,
      #{$self}__options {
        border-radius: 15px;
        border: 2px solid;
        color: var(--color-primary);
        background-color: var(--color-secondary);
        border-color: var(--color-primary);
        box-shadow: inset 0 0 10px var(--color-primary);

        @include media(">=l") {
          border-radius: 20px;
        }
      }

      #{$self}__button {
        cursor: pointer;
        padding: 10px 15px;
        padding: 0 20px;
        height: 100%;
        z-index: 1;
        position: relative;
        text-transform: uppercase;
        min-width: 60px;

        @include media("<=m") {
          padding: 0 10px;
        }

        @include media(">=l") {
          min-width: 75px;
        }
      }

      #{$self}__options {
        cursor: pointer;
        position: absolute;
        display: none;
        top: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        text-align: center;
        overflow: hidden;
        opacity: 0;
        @include trans(0.5);
      }

      #{$self}__option {
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        @include media(">=l") {
          height: 45px;
        }

        &:hover {
          color: var(--color-secondary);
          background: var(--color-primary);
        }
      }
    }

    &--theme {
      position: relative;
      display: flex;
      align-items: center;

      @include media("<=m") {
        height: 30px;
        width: 30px;
      }

      #{$self}__button {
        display: flex;
        position: relative;
        border: 0;
        height: 45px;
        width: 45px;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        background: none;

        @include media(">=l") {
          height: 55px;
          width: 55px;
        }

        @include media("<=m") {
          height: 30px;
          width: 30px;
        }
      }

      svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  &--portfolio {
    position: relative;
    height: 100vh;

    #{$self}__control {
      @include media("<=m") {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }

    #{$self}__container {
      position: relative;
      z-index: 3;
      display: flex;
      padding: 0 5vw;
  
      @include media("<=m") {
        align-items: center;
      }
  
      &--logo {
        align-items: center;
        justify-content: space-between;
        min-height: 20vh;
        backdrop-filter: blur(3px);
  
        @include media("<=m") {
          min-height: 180px;
          align-items: flex-end;
          justify-content: center;
          padding-bottom: 15px;
        }
      }
  
      &--avatar {
        flex-direction: column;
        min-height: 50vh;
      }
    }
  
    #{$self}__arrow {
      position: absolute;
      z-index: 2;
      top: calc(100% - 1px);
      left: 0;
      right: 0;
      cursor: pointer;
  
      &:after {
        content: "";
        display: block;
        padding-bottom: 90px;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  
        @include media("<=m") {
          padding-bottom: 45px;
        }
      }
    }
  
    #{$self}__arrow {
      position: absolute;
      z-index: 2;
      top: calc(100% - 1px);
      left: 0;
      right: 0;
      cursor: pointer;
  
      &:after {
        content: "";
        display: block;
        padding-bottom: 90px;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  
        @include media("<=m") {
          padding-bottom: 45px;
        }
      }
    }
  
    #{$self}__logo {
      display: block;
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      height: auto;
      width: calc(100% - 30px);
      max-width: 320px;
      padding: 0 15px;
      margin-right: 30px;
      box-sizing: border-box;
  
      @include media("<=m") {
        margin-right: 0;
      }
  
      @include media(">=l") {
        max-width: 360px;
      }
    }
  
    #{$self}__title {
      text-indent: -9999px;
    }
  }

  &--policies {
    flex-direction: row;
    position: relative;
    width: 100%;
    padding-top: 15px;

    #{$self}__container {
      @include mk-container;
      flex-direction: row;
      justify-content: space-between;

      @include media("<=m") {
        flex-direction: column;
      }
    }

    #{$self}__nav {
      display: flex;
      align-items: center;

      @include media("<=m") {
        display: none;
      }
    }

    #{$self}__link {
      @include trans(0.33);
      font-weight: bold;

      & + #{$self}__link {
        margin-left: 15px;
      }
    }
  }

  &--lite {
    #{$self}__container {
      &--logo {
        background-image: linear-gradient(
          to bottom,
          transparentize($color-silver-lite, 0.15) 25%,
          $color-silver-lite 100%
        );

        @include media(">m", "<l-s") {
          background: $color-silver-lite;
        }
      }

      &--avatar {
        background-color: $color-silver-lite;
      }
    }

    #{$self}__arrow {
      filter: drop-shadow(0 10px 5px transparentize($color-black, 0.5));

      &:after {
        background-color: $color-silver-lite;
      }
    }

    #{$self}__logo {
      background-image: url("@/assets/gfx/clf-logo-full-lite-min.svg");
    }

    #{$self}__selector {
      &--theme {
        svg {
          fill: $color-white;
          filter: drop-shadow(0 0 5px $color-satan);
        }
      }
    }

    #{$self}__link {
      color: $color-red;

      &:hover,
      &:active,
      &.active {
        color: $color-black;
      }
    }
  }

  &--dark {
    #{$self}__container {
      &--logo {
        background-image: linear-gradient(
          to bottom,
          transparentize($color-black, 0.15) 25%,
          $color-black 100%
        );

        @include media(">m", "<l-s") {
          background: $color-black;
        }
      }

      &--avatar {
        background-color: $color-black;
      }
    }

    #{$self}__arrow {
      filter: drop-shadow(0 10px 5px transparentize($color-green, 0.85));

      &:after {
        background-color: $color-black;
      }
    }

    #{$self}__logo {
      background-image: url("@/assets/gfx/clf-logo-full-dark-min.svg");
    }

    #{$self}__selector {
      &--theme {
        svg {
          fill: $color-silver-lite;
          filter: drop-shadow(0 0 5px $color-silver);
        }
      }
    }

    #{$self}__link {
      color: $color-green;

      &:hover,
      &:active,
      &.active {
        color: $color-white;
      }
    }
  }
}
