.main {
  $self: &;
  display: flex;
  position: relative;

  &--loading {
    #{$self}__container {
      opacity: 0 !important;
      transition: none;
    }
  }

  &--active {
    #{$self}__container {
      opacity: 1;
    }
  }

  &__anchor {
    padding-top: 90px;
    position: absolute;

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }
  }

  &__container {
    position: relative;
    transition: opacity 0.5s ease-in-out;

    &--card {
      @include mk-container();
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      justify-content: center;
      // z-index: 2;
      opacity: 0;

      @include media("<l-s") {
        padding-top: 90px;
      }

      @include media("<=m") {
        padding-top: 60px;
        height: auto;
        min-height: 100%;
      }
    }

    &--full {
      width: calc(100% - 12.5vw - 5px);
      margin-left: auto;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      padding-top: 60px;
      padding-bottom: 90px;
      overflow: hidden;
      backdrop-filter: blur(3px);
      background: linear-gradient(
        to bottom,
        var(--color-secondary-trans) 0,
        var(--color-secondary) 25vh 100%
      );

      @include media(">m", "<l-s") {
        margin-top: 100px;
      }

      @include media("<l-s") {
        width: 100%;
      }
    }

    &--active {
      opacity: 1;
    }

    &--hasActiveDialogs {
      backdrop-filter: none;
    }
  }

  &__card {
    padding: 60px 90px 45px;
    z-index: 2;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @include media("<=m") {
      padding: 30px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
    }

    &:before {
      left: 2px;
      right: 0px;
      top: 2px;
      bottom: 2px;
      z-index: -1;
      mask-image: linear-gradient(
        135deg,
        transparent 0 30px,
        $color-white 30px calc(100% - 30px),
        transparent calc(100% - 30px) 100%
      );
      background-image: linear-gradient(
        135deg,
        transparent 30px,
        var(--color-secondary) 30px 25%,
        var(--color-secondary-trans) 75% 100%
      );
      backdrop-filter: blur(3px);

      @include media("<=m") {
        mask-image: linear-gradient(
          135deg,
          transparent 0 15px,
          $color-white 15px calc(100% - 15px),
          transparent calc(100% - 15px) 100%
        );
        background-image: linear-gradient(
          135deg,
          transparent 15px,
          var(--color-secondary) 15px 25%,
          var(--color-secondary-trans) 75% 100%
        );
      }
    }

    &:after {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -2;
      background-image: linear-gradient(
        135deg,
        transparent 30px,
        var(--color-primary) 0 25%,
        transparent 33%
      );
      height: min(50vh, 100%);
      width: max(50vw, 100%);

      @include media("<=m") {
        background-image: linear-gradient(
          135deg,
          transparent 15px,
          var(--color-primary) 0 25%,
          transparent 33%
        );
      }
    }

    &--gallery {
      padding: 35px 0px 0 2px;

      #{$self}__title {
        padding-left: 90px;
        margin-top: 25px;
      }

      #{$self}__content {
        padding: 0 90px;
      }

      @include media("<=m") {
        max-width: 480px;
        margin: 0 auto;
        padding: 30px 0px 0 2px;

        #{$self}__title {
          padding-left: 30px;
          margin-top: 0;
        }

        #{$self}__content {
          padding: 0 30px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      color: var(--color-primary);

      &:hover {
        text-decoration: underline;
      }
    }

    > p,
    ul {
      @include text;
    }

    > p {
      text-align: center;
      margin: 0;
      + p {
        margin-top: 7.5px;
      }
    }

    &--justify {
      align-items: flex-start;
      margin-bottom: 60px;
      > p {
        text-align: justify;
      }

      > div {
        margin: 15px auto;
      }

      h2 {
        text-align: left;
      }
    }
  }

  &__title {
    @include title;
    font-size: 2em;
    margin: 0 0 30px;
  }

  &__button {
    @include button;

    &::first-letter {
      text-transform: uppercase;
    }

    &--danger {
      @include button("danger");
    }

    &--primary {
      @include button("primary");
    }

    &--secondary {
      @include button("secondary");
    }

    &--ternary {
      @include button("ternary");
    }

    &--small {
      padding: 10px;
      font-size: small;
    }
  }

  &__label {
    @include label;
    border: 2px solid;
  }

  &--portfolio {
    min-height: 100vh;
  }

  &--policies {
    #{$self}__container {
      &--card {
        padding-top: 15px;
      }
    }

    #{$self}__content {
      font-size: 0.9em;

      @include media("<=m") {
        margin: 0 -15px;
      }
    }

    #{$self}__card {
      @include media("<=m") {
        // padding: 30px 15px;
      }
    }

    &:before {
      content: "";
      display: block;
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  &--lite {
    &::before {
      background: linear-gradient(
        to bottom,
        transparentize($color-white, 0) 0%,
        transparentize($color-white, 1) 75%
      );
    }
  }

  &--dark {
    &::before {
      background: linear-gradient(
        to bottom,
        transparentize($color-black, 0.1) 0%,
        transparentize($color-black, 1) 75%
      );
    }
  }
}
