.nav {
  $self: &;
  @include trans(1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 12.5vw;
  height: 100%;
  z-index: 2;

  &.activated,
  &.active {
    #{$self}__link.active {
      &:after {
        width: 50vw;
        transition: width 2s linear 1s;
        max-width: 60vh;
      }
    }
  }

  @include media(">=l-s") {
    transform: translateX(calc(-100% - 15px + var(--scroll)));

    &.activated,
    &.active {
      transform: translateX(0%);
    }
  }

  @include media(">m", "<l-s") {
    width: 100%;
    height: 100px;
    align-items: flex-end;
    justify-content: center;

    &:after {
      width: 100% !important;
      height: 5px !important;
      top: 100% !important;
      right: 0 !important;
    }

    &:before {
      background-size: contain;
      background-image: url("@/assets/gfx/bg-modal-min.svg"),
        linear-gradient(
          to right,
          $color-white 240px,
          transparentize($color-white, 0.15) 100%
        );
    }
  }

  @include media("<=m") {
    transform: translateX(calc(-100% - 15px));
    z-index: 3;
    min-width: 240px;

    &.activated {
      transform: translateX(0%);

      #{$self}__mask {
        @include media("<=m") {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100vw;
        }
      }
    }

    &:before {
      background-image: url("@/assets/gfx/bg-modal-min.svg"),
        linear-gradient(
          to right,
          transparentize($color-white, 0.15) 0%,
          $color-white 100%
        );
    }
  }

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
  }

  &:after {
    background-color: var(--color-primary);
    width: 5px;
    right: -5px;
    z-index: 1;
  }

  &:before {
    background-repeat: repeat-y;
    background-size: contain;
    background-position: left;
    left: 0;
    width: 100%;
  }

  &__items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    z-index: 1;

    @include media(">m", "<l-s") {
      flex-flow: row;
      height: 100%;
      align-items: flex-end;
    }
  }

  &__item {
    position: relative;
    list-style-type: none;
    z-index: 2;

    @include media(">m", "<l-s") {
      &:after {
        left: 23px !important;
        top: 100% !important;
        transform: translate(-60%, -5%) !important;
      }

      &:before {
        left: initial !important;
        top: 100% !important;
        transform: translate(100%, -33%) !important;
      }
    }

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 15px;
    }

    &:after {
      background-color: var(--color-secondary);
      left: 100%;
      width: 5px;
      height: 5px;
      z-index: 2;
    }

    &:before {
      background-color: var(--color-primary);
      left: calc(100% - 5px);
      width: 15px;
      height: 15px;
    }

    @include media(">m", "<l-s") {
      width: 90px;
    }
  }

  &__link {
    @include trans(0.33);
    display: block;
    white-space: nowrap;
    text-align: right;
    padding: 15px;
    position: relative;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;

    @include media(">m", "<l-s") {
      transform-origin: bottom;
      transform: rotate(-45deg) translateX(30%);
      padding-left: 20px;
      width: 100%;
      text-align: left;
    }

    &:not([href$="creations"]):after {
      // &:after {
      @include trans(2, max-width);
      display: block;
      content: "";
      position: absolute;
      height: 5px;
      left: 100%;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      max-width: 0;
      background: linear-gradient(
        to right,
        var(--color-primary) 50%,
        transparent 100%
      );

      @include media(">m", "<l-s") {
        left: 0;
        top: 85%;
        transform: translateY(-50%) rotate(135deg);
        transform-origin: top left;
      }

      @include media("<=m") {
        display: none;
      }
    }
  }

  &__social {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 7.5px 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    z-index: 2;

    @include media(">m", "<l-s") {
      flex-flow: column;
      top: 0;
      width: 60px;
      height: 100%;
      justify-content: space-around;
    }

    @include media("<=m") {
      top: 60px;
    }

    &Item {
      padding: 5px;
    }

    &Link {
      display: flex;
      width: 30px;
      height: 30px;
      background-size: contain;
      cursor: pointer;
      position: relative;

      @include media(">=l") {
        width: calc(30px * 1.1);
        height: calc(30px * 1.1);
      }

      svg {
        @include img;
        position: absolute;
        left: 0;
        top: 0;

        &:hover {
          fill: var(--color-primary) !important;
        }

        path {
          @include trans(0.33);
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  &--policies {
    display: none;

    @include media("<=m") {
      display: flex;
    }
  }

  &--lite {
    &:before {
      background-image: url("@/assets/gfx/bg-modal-min.svg"),
        linear-gradient(
          to right,
          transparentize($color-white, 0.15) 0%,
          $color-white 100%
        );
    }

    #{$self}__social {
      &Link {
        svg {
          fill: $color-white;
          filter: drop-shadow(0 0 5px $color-satan);
        }
      }
    }

    #{$self}__link {
      color: $color-black;

      &.active,
      &:active,
      &:hover {
        color: $color-red !important;
      }

      &:visited {
        color: $color-black;
      }
    }
  }

  &--dark {
    &:before {
      background-image: url("@/assets/gfx/bg-modal-min.svg"),
        linear-gradient(
          to right,
          transparentize($color-black, 0.15) 0%,
          $color-black 100%
        );
      filter: brightness(0.15);
    }

    #{$self}__social {
      &Link {
        svg {
          fill: $color-silver-lite;
          filter: drop-shadow(0 0 5px $color-silver);
        }
      }
    }

    #{$self}__link {
      color: $color-silver-lite;

      &.active,
      &:active,
      &:hover {
        color: $color-green !important;
      }

      &:visited {
        color: $color-silver-lite;
      }
    }
  }
}
