.skill {
  @include trans(0.5);
  $self: &;
  overflow: hidden;
  margin: 0 auto 5px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
  padding-bottom: 5px;
  border-radius: 3px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  max-width: 720px;
  font-weight: bolder;
  font-size: 0.85em;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    height: 5px;
    width: 100%;
    bottom: 0;
  }

  &:after {
    height: 100%;
    width: 90px;
    top: 0;
    left: -90px;
    animation: scan 5s ease infinite;
  }

  @include media("<=m") {
    margin-bottom: 7.5px;
  }

  &__container {
    margin: 15px 0;
  }

  &__bar {
    @include trans(1);
    height: 40px;
    width: 0;
    position: relative;
    animation: skillBar 3s ease-in-out;

    &:after {
      content: "";
      display: block;
      top: 100%;
      height: 5px;
      width: 100%;
      position: absolute;
    }
  }

  &__title,
  &__percent {
    @include trans(0.25);
    position: absolute;
    top: 0;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    left: 0;
    padding: 0 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &__percent {
    right: 10px;
  }

  &--lite {
    background-color: transparentize($color-silver-lite, 0.25);
    box-shadow: inset 0 0 10px $color-silver;

    &:before {
      background-color: transparentize($color-satan, 0.9);
    }

    &:after {
      background: linear-gradient(
        to left,
        transparentize($color-white, 0.66),
        transparentize($color-white, 1)
      );
    }

    &:hover {
      background-color: transparentize($color-red, 0.9);
      box-shadow: inset 0 0 10px $color-red;

      #{$self}__title {
        color: $color-white;
      }

      #{$self}__percent {
        color: $color-red;
      }

      #{$self}__bar {
        background: linear-gradient(
          to right,
          darken($color-red, 0.5) 0%,
          transparent 90%
        );
        background-size: 150%;

        &:after {
          background: $color-red;
        }
      }
    }

    #{$self}__bar {
      background: linear-gradient(
        to right,
        darken($color-silver, 0.5) 0%,
        transparent 90%
      );
      background-size: 100%;

      &:after {
        background: $color-satan;
      }
    }

    #{$self}__title,
    #{$self}__percent {
      color: $color-satan;
    }
  }

  &--dark {
    background-color: transparentize($color-blackish, 0.25);
    box-shadow: inset 0 0 10px transparentize($color-black, 0.5);

    &:before {
      background-color: transparentize($color-black, 0.75);
    }

    &:after {
      background: linear-gradient(
        to left,
        transparentize($color-white, 0.85),
        transparentize($color-white, 1)
      );
    }

    &:hover {
      background-color: transparentize($color-green, 0.9);
      box-shadow: inset 0 0 10px $color-green;

      #{$self}__title {
        color: $color-black;
      }

      #{$self}__percent {
        color: $color-green;
      }

      #{$self}__bar {
        background: linear-gradient(
          to right,
          darken($color-green, 0.5) 0%,
          transparent 90%
        );
        background-size: 150%;

        &:after {
          background: $color-green;
        }
      }
    }

    #{$self}__bar {
      background: linear-gradient(
        to right,
        darken($color-satan, 0.5) 0%,
        transparent 90%
      );
      background-size: 100%;

      &:after {
        background: $color-satan;
      }
    }

    #{$self}__title,
    #{$self}__percent {
      color: $color-silver;
    }
  }
}
