.technology {
  $self: &;
  display: flex;
  flex-direction: row;
  max-width: 720px;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bolder;

  &__item {
    @include label-base;
    @include label-face;
    @include button-actions;
  }
}
