.technology {
  $self: &;
  display: flex;
  flex-direction: row;
  max-width: 720px;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bolder;

  &__item {
    @include trans(0.5);
    @include label;
    white-space: nowrap;
  }

  &--lite {
    #{$self}__item {
      color: $color-black;
      background-color: $color-silver-lite;
      box-shadow: inset 0 0 10px transparentize($color-black, 0.5);

      &:hover {
        background: $color-red;
        color: $color-white;
      }
    }
  }

  &--dark {
    #{$self}__item {
      color: $color-silver-lite;
      background-color: $color-satan;
      box-shadow: inset 0 0 10px transparentize($color-black, 0.5);

      &:hover {
        background: $color-green;
        color: $color-black;
      }
    }
  }
}
