.tooltip {
  @include trans(0, opacity);
  position: absolute;
  z-index: 99;
  font-size: 1em;
  pointer-events: none;
  white-space: nowrap;
  padding: 0;
  opacity: 0;
  text-align: center;

  &.show {
    @include trans(0.5, opacity);
    opacity: 1;
    padding: 5px 7.5px;
  }
  @include media("<l-s") {
    display: none;
  }

  &--lite {
    background-color: $color-black;
    color: $color-white;
  }

  &--dark {
    background-color: $color-white;
    color: $color-blackish;
  }
}
