.avatar {
  $self: &;
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
    perspective: 1000px;
    cursor: pointer;

    &.active,
    &:hover {
      #{$self}__flipper {
        transform: rotateY(180deg);
      }
    }
  }

  &__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    pointer-events: none;
  }

  &__back,
  &__container,
  &__front {
    width: 60vw;
    height: 60vw;
    max-width: 300px;
    max-height: 300px;
    @include mobile {
      width: 45vw;
      height: 45vw;
      max-width: 240px;
      max-height: 240px;
    }
  }

  &__back,
  &__front {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &__front {
    background-image: url("~@/assets/gfx/clf-avatar-min.svg");
    z-index: 2;
    transform: rotateY(0deg);
  }

  &__back {
    border-radius: 8vh;
    background-image: url("~@/assets/gfx/mjk-350-min.jpg");
    border-radius: 300px;
    transform: rotateY(180deg);
  }

  &__title {
    font-size: 3em;
    font-weight: lighter;
    margin: 0 0 15px;
    @include mobile {
      display: none;
    }
  }

  &__shadow {
    background-image: url("~@/assets/gfx/clf-avatar-shadow-min.svg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    @include mobile {
      height: 60px;
    }
  }

  &__message {
    @include trans(0.5, opacity);
    position: absolute;
    background-color: $color-black;
    z-index: 99;
    color: $color-white;
    // font-weight: bold;
    font-size: 1rem;
    pointer-events: none;
    white-space: nowrap;
    padding: 0;
    opacity: 0;
    text-align: center;

    &.show {
      opacity: 1;
      padding: 5px 7.5px;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }

    &--mobile {
      display: none;
      text-align: center;
      font-weight: lighter;
      font-size: 1.15em;
      @include tablet {
        display: block;
      }
      @include mobile {
        display: block;
      }
    }
  }
}
