.counter {
  margin-top: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;

  &__text {
    font-size: 1rem;
  }

  &__value {
    @include trans(0.5);
    background: $color-gray;
    box-shadow: inset 0 0 10px $color-satan;
    color: $color-white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $color-red;
    }
  }
}
