.experience {
  $self: &;

  &__table {
    position: relative;
    display: flex;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;

    tbody {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 0.85em;

      &:first-of-type {
        width: 40px;
        overflow: hidden;
        position: relative;
        @include mobile {
          width: 30px;
        }

        &:after {
          content: '';
          display: block;
          width: 40px;
          height: 120px;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(to bottom, transparentize($color-white, 0.66), transparentize($color-white, 1));
          animation: scanVert 2.5s ease infinite;
          z-index: 2;
        }
      }
    }

    * {
      border: 0;
    }

    tr.hilite {
      th {
        color: $color-black;
      }
    }

    tr {
      width: 100%;

      th {
        color: lighten($color-satan, 20%);
        padding-top: 15px;

        &:first-of-type {
          padding-left: 30px;
        }

        &:nth-of-type(2) {
          padding-left: 30px;
          font-weight: 300;
          text-align: left;
        }
        @include mobile {
          &:first-of-type,
          &:nth-of-type(2) {
            padding-left: 15px;
          }
        }
      }
    }
  }

  &__bar {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 0;
    background: linear-gradient(to bottom, $color-gray 0%, transparentize($color-gray, 1) 100%);
    bottom: 0;
    position: absolute;
    animation: expBar 3s forwards ease-in-out;
    @include mobile {
      width: 30px;
    }

    &:hover {
      &:after {
        opacity: 1;
      }

      #{$self}__tip {
        &:after {
          opacity: 1;
        }
      }
    }

    &:after {
      @include trans(0.5);
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      z-index: 1;
      opacity: 0;
    }

    &:after {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $color-red 0%, transparentize($color-red, 1) 100%);
    }
  }

  &__tip {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $color-gray;
    top: -20px;
    left: 0;
    @include mobile {
      top: -15px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $color-gray;
    }

    &:after {
      @include trans(0.5);
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $color-red;
      top: 0;
      left: -20px;
      opacity: 0;
    }
  }
}
