.header {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  z-index: 2;

  &__container {
    background-color: $color-silver-lite;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-height: 66vh;
    @include mobile {
      align-items: center;
    }
  }

  &__logo {
    display: block;
    background-image: url("~@/assets/gfx/clf-logo-full-min.svg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    height: auto;
    width: calc(100% - 30px);
    min-height: 20vh;
    max-width: 320px;
    margin-left: 7.5vw;
    padding: 0 15px;
    box-sizing: border-box;
    @include mobile {
      margin-left: initial;
      min-height: 10vh;
      margin-top: 75px;
    }
  }

  &__title {
    text-indent: -9999px;
  }

  &__arrow {
    position: absolute;
    z-index: 2;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    filter: drop-shadow(0 7.5px 2.5px rgba(50, 50, 0, 0.5));

    &:after {
      content: '';
      display: block;
      padding-bottom: 90px;
      background: $color-silver-lite;
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      @include mobile {
        padding-bottom: 45px;
      }
    }
  }
}
